/*placeholder for map*/
#map {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 50px;

    opacity: 0.9;
    /*border: 5px dashed #a300ff;*/
    border-radius: 0%;
    outline: 6px dashed #e5781d;
    box-shadow: 0 0 0 6px #a300ff;
    animation: 2s animateBorder infinite;
    ...
}

@keyframes animateBorder {
    0% {
      outline-color: #a300ff;
      box-shadow: 0 0 0 6px #e5781d;
      border-radius: 0px;
    }
    50% {
    outline-color: #e5781d;
    box-shadow: 0 0 0 6px #a300ff;
    border-radius: 50%;
    }
    100% {
      outline-color: #a300ff;
      box-shadow: 0 0 0 6px #e5781d;
      border-radius: 0px;
    }
}

#map.onload {
        border-radius: 8px;
}

.element {
  width: 100%;
  height: 100%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    background-color: #7ee51d;
  }
  50% {
    background-color: #e31e50;
  }
  100% {
    background-color: #7ee51d;
  }
}

@keyframes pulse2 {
  0% {
    background-color: #e31e50;
  }
  50% {
    background-color: #7ee51d;
  }
  100% {
    background-color: #e31e50;
  }
}

html,
body {
  height: 100%;
}

body {
    /*background: #d20404;*/
        color: darkgrey;
        text-align: center;
        font-family: sans-serif;
        color: 		#a300ff;
        /*background: #d20404;*/
        /*background-image: url(https://hobbydb-production.s3.amazonaws.com/processed_uploads/subject_photo/subject_photo/image/7056/1433433020-3-7893/Countries.jpg);*/
        /*background-repeat: no-repeat;*/
        /*background-position: top;*/
        /*background-position: 50% -35%, center;*/
}

h1 {
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        font-family: fantasy;
        font-size: 2em;
        background: #1daee5;
          animation: pulse2 2s infinite;
        /*opacity: 0.8;*/

}

ul li {
      list-style-type: none;
      display: inline-block;
      padding: 50px;
}

ul {
    margin-top: 50px;
    border: 5px solid #17635d;
    border-radius: 6px;
    background-color: #8b3019;
    opacity: 0.9;
}
