/*placeholder for map*/
#map {
    width: 500px;
    height: 500px;
    margin: auto;
    /*border-radius: 50%;*/
}

body {
    /*background: #d20404;*/
        color: darkgrey;
        text-align: center;
        font-family: sans-serif;
        color: 	#a18f24;
        /*background: #d20404;*/
        background-image: url(https://hobbydb-production.s3.amazonaws.com/processed_uploads/subject_photo/subject_photo/image/7056/1433433020-3-7893/Countries.jpg);
        background-repeat: no-repeat;
        /*background-position: top;*/
        background-position: 50% -35%, center;
}

h1 {
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        font-family: fantasy;
        font-size: 2em;
        background: #d20404;
        /*opacity: 0.8;*/

}

ul li {
      list-style-type: none;
      display: inline-block;
      padding: 50px;
}

ul {
    margin-top: 50px;
    border: 5px solid #17635d;
    border-radius: 6px;
    background-color: #8b3019;
    opacity: 0.9;
}
